:root {
  --padding-1: 0.5rem;
}
.demo {
  .container {
    display: flex;
    flex: 1 1 1 auto;
    /* flex-direction: column; */
    background-color: lightskyblue;
    /* flex-direction: row; */
    gap: var(--padding-1);
    /* column-gap: var(--padding-1); */
    /* row-gap: var(--padding-1); */
    justify-content: start;
    align-items: flex-start;
    text-align: center;
    padding-left: var(--padding-1);

    div {
      width: 140px;
      padding: var(--padding-1);
      margin-top: var(--padding-1);
      margin-bottom: var(--padding-1);
      /* margin-left: var(--padding-1); */
      background-color: lightpink;
    }
  }
}
