:root {
  /* Colors */
  --primary: var(--blue-6);
  --primary-hover: var(--blue-7);
  --secondary: var(--indigo-6);
  --secondary-hover: var(--indigo-7);
  --background: var(--stone-0);
  --foreground: var(--stone-9);
  --border-color: var(--stone-3);

  /* Typography */
  --font-family: "Inter", sans-serif;
  --font-size: var(--font-size-3);
  --font-size-large: var(--font-size-5);
  --font-weight: var(--font-weight-4);

  /* Spacing */
  --spacing: var(--size-4);

  /* Radius */
  --radius: var(--radius-2);

  /* Shadows */
  --shadow: var(--shadow-3);

  --nav-list-style: none;
  --a-featured: var(--orange-5);
}
